@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .card {
    @apply mx-auto max-w-sm rounded-xl shadow-lg overflow-hidden  mt-4 bg-secondary;
  }
  .text-body {
    @apply text-white font-palanquin w-96 max-md:w-64 max-sm:text-center max-sm:p-2;
  }

  .link-nav {
    @apply link-underline hover:underline hover:decoration-primary font-palanquin;
  }
  .slides-container {
    @apply h-screen snap-y-mandatory;
  }
  .slides {
    @apply h-screen flex items-center justify-center snap-start px-14;
  }
  .text-heading {
    @apply text-left font-palanquin text-8xl max-md:text-5xl max-sm:text-2xl max-sm:text-center font-bold;
  }
  .social-link {
    @apply tooltip shadow-lg transition duration-150 ease-in-out hover:-translate-y-1;
  }
  .text-badge {
    @aply badge bg-base-100 text-white font-poppins my-2;
  }
  .custom-input {
    @apply rounded-lg input bg-white w-full max-w-md;
  }
  .custom-placeholder {
    @apply placeholder:font-poppins placeholder:text-sm placeholder:text-slate-400;
  }
  .custom-form-control {
    @apply form-control w-full max-w-md flex flex-col;
  }
}

.snap-y-mandatory {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.link-underline {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

.link-underline:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}
