@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #000505;
}

@layer components {
  .heading {
    @apply text-4xl max-sm:text-xl text-white font-bold font-palanquin underline decoration-secondary decoration-4;
  }
  .text-underline {
    @apply decoration-2 underline decoration-secondary;
  }
  .body {
    @apply text-white text-sm font-palanquin;
  }
  .button {
    @apply rounded-full text-white bg-secondary font-poppins text-sm text-center p-2 max-sm:p-3 max-sm:w-max max-sm:mx-auto transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-sky-500 duration-300;
  }
  .card {
    @apply mx-auto max-w-sm rounded-xl shadow-lg overflow-hidden  mt-4 bg-primary
  }
  .link {
    @apply body hover:text-secondary hover:decoration-primary font-poppins underline decoration-secondary  text-white transition duration-300 ease-in-out decoration-2;
  }
}
